{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>수강신청</h4>
        </div>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="subject_id">학정 번호</label>
            <input type="text" class="form-control" name="subject_id" id="subject_id"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">신청하기</button>
    </form>
</div>
{% endblock %}